stages:
  - analyze

variables:
  SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"
  GIT_DEPTH: "0"

sonarqube-check:
  stage: analyze
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [""]
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - .sonar/cache
  script:
    - sonar-scanner
      -Dsonar.projectKey=ut103-ci
      -Dsonar.projectName="1C UT 10.3 CI/CD"
      -Dsonar.sources=src
      -Dsonar.host.url=http://localhost:9000
      -Dsonar.login=$SONAR_TOKEN
      -Dsonar.sourceEncoding=UTF-8
      -Dsonar.bsl.languageserver.enabled=true
  allow_failure: true
  only:
    - master
    - develop
    - merge_requests


